#map{
  width: 80%;
  height: 100%;
}
.box {
  display: flex;
  height: 80vh;
  width: 95vw;
}
.child{
  display: inline-block;
  margin:5px 0 0 5px;
  flex-grow: 1;
  width: calc(100% * (1/2) - 5px - 1px)
}
.container-types{
  margin: 5px;
}
.layoutControlTypes{
  width: 100%;
  overflow-x: auto
}
.container-users{
  cursor: pointer;
}
.containerLayoutUser{
  width: 20%;
  overflow-y: auto;
}
.active:hover{
  background: #007fff;
}
